header {
    position: relative;
    border: black 1px dashed;
}

header h1 {
    padding: 0em;
    text-align: center;
}

header time {
    padding: 0.5em;
    position: absolute;
    left: 0;
    bottom: 0;
}

table{
    font-size: smaller;
    border-collapse: collapse;
    text-align: center;
    border-bottom: gray 1px solid;
}
thead{
    border-bottom: gray 1px solid;
}
tr:hover{
    background-color:rgba(255,255,255,0.3);
}
th, td{
    border-bottom: gray 1px dotted;
    padding: 4px 8px;
}

figure {
    margin: 2px;
}
figcaption {
    /*font-size: larger;*/
    font-style: italic;
    color:dimgray;
}
figcaption::before { content: "<" }
figcaption::after { content: ">" }

div#download{
    position: fixed;
    top: 0;
    right: 0;
    z-index:9;
    background-color: rgba(255,255,255,0.7);
    /*border: 1px solid gray;*/
    padding: 2px;
    border-radius: 0 0 0 4px;
}

div#download a{
    /*
    z-index: 9;
    */
}

section#container{
    /*
    display: flex;
    flex-flow: row;
    */
}

section#rec {
    /*flex: 1; */
    width: 50%;
}

section#map{
    /*flex: 1; */
    position: fixed;
    top:0;
    right: 0;
    width: 50%;
}

div#map-content {
    height: calc(100vh - 20px);
}

table.rec-content{
    /*font-family: cwTeXFangSong, serif;*/
    font-size: medium;
    border-width: 0;
}
table.rec-content thead {
    display: none;
}
table.rec-content td {
    /*vertical-align: top;*/
    border-width: 0;
    padding: 1px 2px;
}
table.rec-content td:nth-child(2) {
    max-width: 600px;
}

.rec-timestamp:hover {
    background-color: lightblue;
    cursor: pointer;
}

.rec-timethru:hover {background-color: lightblue;}
.rec-timethru{
    margin-left: 2.5em;
}

/*================================================================*/

body {
    padding: 0em;
    margin: 0;
    background: #e0eae0;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

p {
    margin-block-start: .5em;
    margin-block-end: .5em;
}

ul {
    padding-left: 1em;
}

.hide {
    display: none;
}

nav,.nav {
    display: inline-block;
    width: 15%;
    max-width: 15%;
    background: rgba(248,248,248,.7);
    position: fixed;
    bottom: 0em;
    right: 0em;
    padding: 0 1em;
    z-index: 999;
    display: grid;
}

.nav .nav-collapse{
    grid-row: 1;
    text-align: right;
    border: none;
    color: #404040;
    background-color: transparent;
    width: 2em;
    margin-left: 90%; /*align right*/
}

.nav .nav-collapse:hover {
    color: #808080;
    cursor: pointer;
}

.nav .nav-collapse::after {
    display:inline-block;
    content: "▼";
    /* content: "■"; transform: scale(1.5); */
}
.nav.collapse .nav-collapse::after {
    display:inline-block;
    content: "▲"
    /* content: "◥"; transform: scale(.75); */
}
.nav.collapse .nav-collapse ~ * {
    display: none;
}

.nav .nav-toc{
    grid-row: 2;
    margin: 4px;
}
.nav .nav-toc a{
    color:black;
}

.nav .nav-toc .mainlink{
    border-bottom: dimgray 1px dashed;
    padding-bottom: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

/* ======= submenu =====*/
.nav .nav-toc ul{
    list-style-type: none;
    margin: 0;
    padding-left:0;
    white-space: nowrap;
    display:none;
    /*height: 0;*/
}
.nav .nav-toc ul a{
    font-size: smaller;
    color: dimgray;
}
.nav .nav-toc>li:hover ul{
    display: unset;
    /*height: unset;*/
}
.nav .nav-toc>li:hover ul a{
    color: dimgray;
}
/* ======= submenu =====*/

.nav .nav-utils{
    grid-row: 3;
    border-top: dimgray solid 1px;
    list-style-type: none;
    padding-left:0;
    margin: 0px;
    padding: 4px;
    font-size: 14px;
}
  
  section{
    margin: 1em 0;
    padding:1em;
    border-radius: 8px;
    background: #cbddcb;
    border-right: dimgray 1px solid;
    border-bottom: dimgray 1px solid;
    position: relative;  /*for .sec-toggle to positon absolutely*/
  }
  .sec-toggle{
      border-width: 0px;
      background: transparent;
      position: absolute;
      left: -0.5em;
      top: 1.5em;
  }
  
  .sec-toggle::after{
      content: '▼';
  }
  .sec-toggle.collapse::after{
      content: '▶';
  }

  .sec-toggle.collapse+h2~*{
    display:none;
  }
  
  /*
  section{
    padding:1em;
    border-radius: 8px;
    border-right: transparent 1px solid;
    border-bottom: transparent 1px solid;
  }
  section:hover{
    background: lightgoldenrodyellow;
    border-right: dimgray 1px solid;
    border-bottom: dimgray 1px solid;
  }
  */
  time {
    color: forestgreen;
    font-weight: bold;
  /*
    color: white;
    background: green;
    font-weight: bold;
    padding: 0 2px;
    margin: 1px;
    border-radius: 4px;
  */
  }
  
  h1 datetime{
      font-size: 0.7em;
      margin-left: 1em;
  }
  
  h2{
      margin-top: 0px;
  }
  
  .lines > span{
    display: block;
  }
  
  .tag{
      color: white;
      background: dimgray;
      /*font-weight: bold;*/
      padding: 1px 4px 0px 4px;
      margin: 0px 4px 2px 0;
      border-radius: 4px;
      display: inline-block;
      /* min-width: 4em;*/
  }
  
  .join > :not(:last-child)::after {
    content: ' | '
  }
  
  ul.join,
  ul.join > li {
    display: inline;
    padding-left: 0;
  }

.trkseg {
    position: relative;
}
.trkseg:hover {
    background-color: #ddeedd;
}

.trkseg-day {
    color: white;
    background: dimgray;
    padding: 1px 2px 0px 2px;
    border-radius: 4px;
    display: inline-block;
}

.trkseg time {
    font-size: .875em;
    vertical-align: text-bottom;
}

/****** trkseg utils **********/
/*
.trkseg-utils::before{
    content: "\A";
    border-style: solid;
    border-width: 8px 0px 8px 8px;
    border-color: transparent transparent transparent #ddeedd;
    position: absolute;
    left: 21px;
}
*/

.trkseg-utils{
    position: absolute;
    top: 0px;
    left: -21px;
    z-index: 999;

    list-style-type: none;
    margin: 0;
    padding: 2px 4px;

    /*
    border-width: 1px 0 1px 1px;
    border-color: whitesmoke;
    border-style: solid;
    */

    background: #ddeedd;
}

.trkseg:hover .trkseg-utils{
    display: block;
}

.trkseg-utils button{
    padding: 0;
    border: none;
    background-color: transparent;
}

.trkseg      .trkseg-util-grid,
.trkseg      .trkseg-util-chart {
    color: #808080;
}
.trkseg.grid .trkseg-util-grid,
.trkseg.chart .trkseg-util-chart {
    color: #000000;
}
.trkseg      .trkseg-util-grid:hover,
.trkseg      .trkseg-util-chart:hover{
     color: #A0A0A0;
     cursor: pointer;
}
.trkseg.grid .trkseg-util-grid:hover,
.trkseg.chart .trkseg-util-chart:hover{
    color: #404040;
    cursor: pointer;
}

.trkseg.grid .trkseg-path-loc,
.trkseg.grid .trkseg-path-arrow{
    display: inline-grid;
}

.trkseg       .trkseg-chart{ display: none; }
.trkseg.chart .trkseg-chart{ display: block; }

/****** trkseg path **********/
.trkseg-path{
    color: dimgray;
    /*
    display: inline-grid;
    align-items: center;
    justify-content: start;
    */
}

.trkseg-path-loc{
    /*grid-row: 1;*/
    color: black;
    margin: 0 3px;
    display: inline-block;
    white-space: nowrap;
}

.trkseg-path-loc:hover{
    background-color:rgba(255,255,255, .6);
}

.trkseg-path-arrow{
    /*grid-row: 1;*/
}
/*
.trkseg-path-arrow::before{
    content: '';
}
*/
.trkseg-path-arrow::after{
    /*
    content: '➜';
    content: '⇢';
    content: '➢';
    */
    content: '➤';
}

/*================= Trkseg Chart =====================*/
.trkseg-chart {
    display: block;
    /*height: 200px; */
    background: rgba(255,255,255,.3);
    max-height: 200px;
    margin-bottom: 8px;
}

.trkseg-chart-shadow{
    fill: seagreen;
}

.trkseg-chart-shadow-stopover{
    fill: #52ac79;
}

.trkseg-chart circle{
    fill: green;
}

.trkseg-chart-alt-line{ stroke: lightgray; }
.trkseg-chart-alt-legend{
    transform: translate(-8px, 0);
    font-size: 12px;
    text-anchor: end;
    dominant-baseline: middle;
    fill: gray;
}

.trkseg-chart-loc-path{ stroke: gray; }
.trkseg-chart-loc-name{
    transform: translate(-3px, -3px);
    font-size: 12px;
    text-anchor: middle;
    dominant-baseline: ideographic;
    fill: black;
}
.trkseg-chart-loc-stopover{
    font-size: 14px;
    text-anchor: middle;
    dominant-baseline: central;
}

/*.trkseg-chart-loc-name.last,*/
.trkseg-chart-loc-name.first{
    text-anchor: start;
}

.alt {
    color: dimgray;
    font-size: smaller;
}

/*
.vehicle{
    color: white;
    //background: cornflowerblue;
    background: darkblue;
    padding: 1px 4px 0px 4px;
    margin: 0px 4px 2px 0;
    border-radius: 4px;
    display: inline-block;
}
*/

.vehicle a {
    color: white;
}

.fa-sun{ color:darkorange; }
.fa-wind{ color: green; }
.fa-cloud{ color:gray; }
.fa-cloud-bolt{ color:steelblue; }
.fa-cloud-rain{ color:dimgray; }
.fa-cloud-sun-rain{ color:brown; }
.fa-smog{ color:lightgray; }
.fa-snowflake{ color:skyblue; }

/* track record */
pre code {
    white-space: pre-wrap;
}

.arrow-legend {
    vertical-align: super;
    text-decoration: underline;
}
