div#download{
    position: fixed;
    top: 0;
    right: 0;
    z-index:9;
    background-color: black;
    border: 1px solid gray;
}

div#download a{
    /*
    z-index: 9;
    */
}

section#container{
    /*
    display: flex;
    flex-flow: row;
    */
}

section#rec {
    /*flex: 1; */
    width: 50%;
}

section#map{
    /*flex: 1; */
    position: fixed;
    top:0;
    right: 0;
    width: 50%;
}

div#map-content {
    height: calc(100vh - 20px);
}

.rec-content{
    font-family: cwTeXFangSong, serif;
    font-size: large;
    background-color: #101010;
}

.rec-timestamp:hover {
    background-color: #004000;
    cursor: pointer;
}

.rec-timethru:hover {background-color: #404040;}
.rec-timethru{
    margin-left: 2.5em;
}
